body {
    background: #eef2fe;
    font-family: BwSeidoRound, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

.f16 {
    margin-bottom: 0;
    padding-left: 0;
    height: 21px;
}

#block-explorer-container {
    padding-bottom: 0;
}

.dataTable a {
    text-decoration: none;
    color: black;
}

.hidden, .select-info {
    display: none;
}

.block {
    padding-top: 10px;
}

#after-sign-in-block, .risk {
    padding-top: 50px
}

.bold {
    font-weight: bold;
}

.footer-alert {
    margin-top: 20px;
}

#pool-description-value {
    font-family: Verdana, serif;
    height: 160px;
}

.page-footer {
    margin-top: 100px;
    background-color: lightgrey;
}

.page-footer a {
    color: black;
}

.footer-copyright {
    background-color: grey;
}

.pools .dataTables_paginate, .pools .dataTables_length, .pools .dataTables_info {
    display: none;
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

#view-pools-table tr {
    vertical-align: bottom;
}

.col-fees {
    text-align: right;
}

.col-number-of-accounts {
    max-width: 60px;
    text-align: center;
}

.col-phase-2-vote {
    max-width: 50px;
    text-align: center;
}

.col-pool-name {
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.col-status {
    text-align: center;
}

td.col-stake {
    min-width: 120px;
    position: relative;
    cursor: pointer;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding-left: 10px;
}

.col-bar {
    width: 100%;
    height: 24px;
    position: relative;
}

.cum-bar-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.cum-stake-number {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.row-kickout td {
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 49.9%, #fbdde2 49.9%, #fbdde2 10%, rgba(0, 0, 0, 0) 60%) fixed,
    linear-gradient(-45deg, #fbdde2 5%, rgba(0, 0, 0, 0) 5%) fixed !important;
    background-size: 0.5em 0.5em !important
}

@font-face {
    font-family: BwSeidoRound;
    src: url(./fonts/389947_6_0.eot);
    src: url(./fonts/389947_6_0.eot?#iefix) format("embedded-opentype"), url(./fonts/389947_6_0.woff2) format("woff2"), url(./fonts/389947_6_0.woff) format("woff"), url(./fonts/389947_6_0.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}


h1 {
    margin-top: 1em;
    margin-bottom: 0.3em;
}

a {
    color: #6f42c1;
}

.scene {
    height: 350px;
}

.face {
    margin: auto;
    width: 66%;
    height: 72%;
    background-color: #fffaf2;
}

.number {
    text-align: center;
    margin: auto;
    width: 66%;
    height: 28%;
    background-color: #ffd9f8;
    border-top: 5px dotted #82174d;
    font-size: 1.5rem;
}

.eyes-row {
    display: flex;
    justify-content: space-around;
    margin-top: 24%;
    padding: 0 8px;
}

.closed {
    width: 22px;
    height: 13px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 2px solid #ffa4b1;
    border-right: 2px solid #ffa4b1;
    border-top: 2px solid #ffa4b1;
    margin-bottom: 12px;
}

.eye {
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background-color: #ffa4b1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}

.eye .pupil {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: #82174d;
}

.eye .pupil:before {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #fff;
    top: 4px;
    left: 3px;
    border-radius: 100px;
}

.eye .pupil:after {
    content: "";
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: #fff;
    top: 9px;
    left: 12px;
    border-radius: 100px;
}

.mouth-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mouth-row .mouth {
    margin-top: 3%;
}

.mouth-row .tongue {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FF585D;
    border-radius: 50% 50% 30%;
    margin: 5px 0;
}

.mouth-row .mouth.smile {
    height: 16px;
    width: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #82174d;
    top: 120px;
}

.mouth-row .mouth.cry {
    height: 16px;
    width: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: #82174d;
    top: 120px;
}

.mouth-row .mouth:before {
    content: "";
    left: 43px;
    margin-top: 1%;
    border-radius: 100%;
    height: 5%;
    width: 11.5%;
    background-color: #f56f79;
    position: absolute;
}

.mouth-row .mouth:after {
    content: "";
    left: 106px;
    margin-top: 1%;
    border-radius: 100%;
    height: 5%;
    width: 11.5%;
    background-color: #f56f79;
    position: absolute;
}

.gameboy {
    position: relative;
    width: 400px;
    margin: auto;
}

.body-shape {
    position: absolute;
    height: 300px;
    width: 205px;
    border-radius: 15px;
}

.body-shape .shadow {
    height: 290px;
}

.body-shape .screen {
    margin: 20px;
    position: relative;
    width: 168px;
    height: 134px;
    background-color: #82174d;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.body-shape .dot {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #ffa4b1;
    top: 40px;
    left: 10px;
    border-radius: 100px;
}

.body-shape .on {
    background-color: #F0EC74;
}

.body-shape .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.body-shape .buttons .row {
    display: flex;
}

.body-shape .buttons .selects {
    margin-top: 10px;
    padding-left: 140px;
}

.body-shape .buttons .arrows {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #ffa4b1;
    margin-left: 30px;
    padding: 0;
    cursor: grab;
}

.body-shape .buttons .arrows:disabled {
    opacity: 0.8;
    background-color: #d18892;
}

.body-shape .buttons .arrows .updown {
    position: relative;
    height: 35px;
    width: 10px;
    background-color: #82174d;
    border-radius: 2px;
    top: -8px;
    left: 14px;
}

.body-shape .buttons .arrows .left {
    position: relative;
    width: 35px;
    height: 10px;
    background-color: #82174d;
    border-radius: 2px;
    top: 14px;
    left: 2px;
}

.body-shape .buttons .arrows .right {
    position: relative;
    width: 35px;
    height: 10px;
    background-color: #82174d;
    border-radius: 2px;
    left: 2px;
}

.body-shape .buttons .ab {
    width: 64px;
    height: 64px;
    background-color: #ffa4b1;
    border-radius: 10px;
    transform: rotate(45deg);
    font-size: 0.6rem;
    text-align: center;
}

.body-shape .buttons .ab .r {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #82174d;
    position: absolute;
    transform: rotate(-45deg);
    padding: 5px;
    color: #ffa4b1;
    cursor: pointer;
    box-shadow: -1px 0 1px #4B4F54;
}

.body-shape .buttons .ab .r:hover {
    opacity: 0.8;
}

.body-shape .buttons .ab .r:active {
    background-color: #F0EC74;
    opacity: 1;
}

.body-shape .buttons .ab .a {
    top: 4px;
    left: 4px;
}

.body-shape .buttons .ab .b {
    top: 4px;
    left: 36px;
}

.body-shape .buttons .ab .c {
    top: 36px;
    left: 4px;
}

.body-shape .buttons .ab .d {
    top: 36px;
    left: 36px;
}

.shadow {
    background-color: #888ad0;
    z-index: 0;
    left: -17px;
    top: 26px;
}

.side {
    background-color: #82174d;
    z-index: 1;
}

.front {
    background-color: #f56f79;
    left: 26px;
    z-index: 2;
}

.loader,
.loader:before,
.loader:after {
    background: #f56f79;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.4rem;
    height: 4em;
}

.loader {
    color: #f56f79;
    margin: 2px auto;
    font-size: 0.2rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 2em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}

@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 2em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 3em;
    }
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #074998;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.claim-alert {
    margin-top: 20px;
}

.nft-token {
    width: 275px;
}

.nft-token img{
    width: 275px;
    height: 275px;
    border: grey 1px solid;
}
